<% if position %>
<history>
  <jobtitle><%= position.job_title %></jobtitle>
  <company><%= position.company_name %> (<url><%= position.company_website %></url>)
    <br>
    <%= position.friendly_joined %> &#x2192; <%= position&.friendly_departed %></company>
  <textblock>
    <freeform><%= position.description %></freeform>
  </textblock>
  <% if position.achievements.any? %>
      <achievements>Key achievements:</achievements>
  <ul>
    <%= render partial: "/shared/item", collection: position.achievements %>
  </ul>
  <% end %>
  <%
    col = position.skills.each_with_index.map { |x,i| [x.display_name, i <  position.skills.length - 1] }
  %>

  <tech>Technologies: </tech><%= render partial: "shared/crumb", collection: col  %>
  <p></p>
</history>
<% end %>